<h1><%= t ".title" %></h1>

<p><%= t ".to_reset_password" %></p>

<%= link_to t(".title"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t ".link_expire" %></p>
<p><%= t ".ignore_if_did_not_want_to_reset_password" %></p>
